.features {
  .heading {
    text-align: center;
    max-width: 30rem;
    margin: 0 auto;
  }

  .content {
    ul {
      max-width: 35rem;
      margin: 0 auto;
      border-bottom: 1px solid $grayish-blue;

      li {
        .nav-link {
          border: none;
          color: $grayish-blue;

          &.active {
            color: $black;
            border-bottom: 3px solid $soft-red;
          }
        }
      }
    }
  }
}
